<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserInfoProviderService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2828/UserInfoProviderService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserInfoProviderService"
                contract="UserRepositoryServiceTests.Proxy.IUserInfoProviderService"
                name="BasicHttpBinding_IUserInfoProviderService" />
        </client>
    </system.serviceModel>
</configuration>