<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="PathToLogFile" value=""/>
</appSettings>
    <system.serviceModel>
      <client>
        <endpoint address="http://localhost:2828/UserInfoProviderService"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserInfoProviderService"
               contract="UserRepositoryServiceTests.Proxy.IUserInfoProviderService"
               name="BasicHttpBinding_IUserInfoProviderService" />
      </client>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IUserInfoProviderService" />
        </basicHttpBinding>
      </bindings>
    </system.serviceModel>
</configuration>