<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="RepositoryType" value="InProcess"/>
  <add key="serilog:using:File" value="Serilog.Sinks.File" />
  <add key="serilog:write-to:File.path" value="..\..\..\log.txt" />
  <add key="serilog:write-to:File.fileSizeLimitBytes" value="" />
</appSettings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="UserRepositoryServiceApp.Services.UserInfoProviderService">
                <endpoint address="" binding="basicHttpBinding" contract="UserRepositoryServiceApp.Services.IUserInfoProviderService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <!--<baseAddresses>
                        <add baseAddress="http://localhost:2828/UserInfoProviderService" />
                    </baseAddresses>-->
                </host>
            </service>
        </services>
   <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />    
    </system.serviceModel>
</configuration>